@import "./variables";

@import "~bootstrap/scss/bootstrap";

@import "./custom";

@import "./inputs";

body {
    background-color: #d2d4dd;
}

nav a :hover {
    text-decoration: none;
}

.nav-logo {
    height: 70px;
    width: auto;
    padding: 10px;
}

.section-title {
    text-transform: uppercase;
    color: $agency-dark;
    border-bottom: 5px solid $agency-dark;
}

.details-text {
    font-size: 10px;
    font-weight: bold;
}

.external-button {
    font-size: 12px;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
.external-link-title {
    text-transform: uppercase;
}

.links-wrapper {
    background-color: $agency-gray;
    border: 2px solid #efefef;
}
