@import "./variables";

@import "~bootstrap/scss/bootstrap";

@import "./custom";

@import "./inputs";

body {
    background-color: #d2d4dd;
}

nav a :hover {
    text-decoration: none;
}

.nav-logo {
    height: 70px;
    width: auto;
    padding: 10px;
}

.section-title {
    text-transform: uppercase;
    color: $agency-dark;
    border-bottom: 5px solid $agency-dark;
}

.details-text {
    font-size: 10px;
    font-weight: bold;
}

.external-button {
    font-size: 12px;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
.external-link-title {
    text-transform: uppercase;
}

.links-wrapper {
    background-color: $agency-gray;
    border: 2px solid #efefef;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-control {
    border-radius: 0;
    border: 1px solid #999;
    &:focus {
        box-shadow: none;
        border-color: #999;
    }
}
